	*{margin: 0;
	  padding: 0;
	}
		/*测试*/
	.ceshi_wh{
		width: 50px;
		height: 50px;
	}
	.ceshi_border{
		border:1px solid #f00;
		background-color:red;
	}
	body{
		padding-top:150px;
		width:1349px;
		/*height:25780px;*/
	}

	.head1 .ul_01{
		display: block;
		background-color:blue;
	}

	/*漂浮*/
	.float_L{
		float:left;
	}
	.float_R{
		float:right;
	}

	
	    /*高度塌陷*/
	    .clearfix:after{
	    	content: "";
	    	display: block;
	    	clear:both;
	    }
	    
		.plus{
			width:1225px;
			/*height:3404px;*/
			/*border: 1px red solid;*/
			margin:0 auto;
			background-color: #f2eadd;
		}
		.head{
			width:1349px;
			height: 49px;
			/*border: 1px red solid;*/
			background-color: #535353;
			

		}
		.head1{
				width:496px;
				height: 49px;
				/*width: 300px;*/
				/*border: 1px red solid; */
				float: left;

		}
		.head2{
			  width: 853px;
			  height: 49px;
			  /*border: 1px red solid;*/
			  float: left;

		}
		.p1{
			/*border:1px red solid;*/
			float: left;
			list-style: none;
			line-height: 49px;
			text-decoration: none;
			width: 100px
			/*font-family: "微软雅黑";*/
		}

		.p2{

			float: left;
			list-style: none;
			/*margin-left: 20px;*/
			line-height: 49px;
			/*font-family: "微软雅黑";*/
		}

		.p3:hover{
			background-color:#474545;
			}
	
		.p3{
			display:block;
			text-decoration: none;
			color: white;
			font:13px "微软雅黑";
			font-weight: bold;
			line-height: 48px;
			text-align: center;
			/*border:1px solid red;*/
		}

		.ps{
			float: left;
			margin-left: 400px;
			width: 235px;
			height: 47px;
			outline:none;
			border:1px solid white;
		}

		.a_02{
			float: left;
			width: 63px;
			height: 47px;
		}

		.p5{line-height: 49px;
			margin-left: 15px;
			text-decoration: none;
		}
		.p6{margin-left: 20px;
			text-decoration: none;}
		.p7{
			float:left;
			height:49px; 
		}
		.t1{
			float:left;
			width:96px;
			height:49px;
			background-image:url(../image/sprite.png);
			}
		.t1:hover{
			background-position: -96px 0px;
		}
		
		/*/////////////////////////*/
			.nb{
			float:right;
			width:45px;
			height:50px;
			/*border:1px solid red;*/

		}
		
		.t2{height: 49px;
			float: right;
			position:relative;
		}
		.ss{
			width:205px;
			height:300px;
			/*border:1px solid red;*/
			position:absolute;
			background-color:white;
			top:50px;
			right:0px;
		}

		.xt1{
			width:190px;
			height:60px;
			border-bottom:1px dotted #888;
			margin:5px 0 0 7px;
		}
		.xt2{
			width:190px;
			height:60px;
			/*border-bottom:1px dotted #888;*/
			margin:5px 0 0 7px;
		}
		.xt2{
			width:187px;
			height:60px;
			/*border:1px solid green;*/
			margin-top:13px;
		}
		.xtt{
			float:left;
		}
		.xzz{
			float:left;
			font:12px "微软雅黑";
			color:#666;
		}
		.x1{
			float:left;
			font:12px "微软雅黑";
			color:red;
		}
		.xz{
			float:left;
			font:12px "微软雅黑";
			color:#DC143C;
		}
		.del{
			float:right;
			font:13px "微软雅黑";
			color:skyblue;
			margin:-20px 5px 0 0;
		}
		.xtt2{
			float:right;
			margin-right:8px;
			margin-top:2px;		
		}
		/*////////////////////////*/
		.head3{
			width:1349px;
			height:32px;
			/*border:1px red solid;*/
			background-color: #8f8c7f;


		}
		.p8{
			/*line-height: 32px;*/
			text-decoration: none;
			font:13px "微软雅黑";
			font-weight: bold;
			color: white;
			/*margin-left: 20px;*/

		}

		.p9{
			 line-height:32px;
			 float:left;
			 width:86px;
			 height:31px;
			 /*border:1px red solid;*/
			 text-align:center;
		}
		.p9:hover{
			background-color: #474545;
		}

		.dd{
			position:fixed;
			left:10px;
			top:310px;
			width:110px;
			height:178px;
			/*border:1px solid red;*/
		}
		.d1{
			width:110px;
			height:178px;
		}
		.ww{
			position:fixed;
			left:0px;
			top:0px;
			z-index: 9999;
		}

	

	/*正文样式表*/
	.content{
		width:1349px;
		height:25355px;
		/*border:1px red solid;*/
	}
		.c1{
			width:980px;
			height:656px;
			/*border:1px solid blue;*/
			margin: -30px 0px 10px 190px;
			background-color:white;
			padding-top:10px;
		}
		/*第一行边框*/
		.c2{
			width:930px;
			height:36px;
			/*border:1px red solid;*/
			margin:10px auto 10px;

		}

		.c4{
			float:left;
			font:12.5px "黑体";
			text-decoration:none;
			color:#222;
			font-weight:bold;
			/*border:1px red solid;*/
			margin-top:10px;
			/*margin-left:8px;*/
			
		}
		.c0{
			
			
			margin-top:10px;
		
			float:left;
			font:12.5px "黑体";
			text-decoration:none;
			color:#222;
			font-weight:bold;
			/*border:1px red solid;*/
			
			
		}
	.c6{
			display:block;
			/*border:1px red solid;*/
			width:30px;
			height:29px;
			margin-left:2px;
			margin-top:2px;
		}
	.c7{
			display:block;
			/*border:1px red solid;*/
			width:234px;
			height:29px;
			margin-left:2px;
			margin-top:3px;
		}	
		
		.c11{
			float:right;
			margin-right:6px;
			/*border:1px black solid;*/

		}
		.border_1{
			width:470px;
			height:36px;
			border-bottom:1px solid #afafa8;
			float:left;
			margin-left:8px;
		}
		/*正文第一部分*/
		.border_2{
			width:916px;
			height:480px;
			/*border:1px red solid;*/
			margin:10px 15px 29px 33px;
		}
		.b{
			width:434px;
			height:40px;
			/*border:1px red solid;*/
		}
		.b1{
			width:478px;
			height:478px;
			/*border:1px red solid;*/
			float:left;
		}

		.bt{
			width:478px;
			height:478px;
		}

		.b2{

			
			font:23px "微软雅黑";
			float:right;
			text-indent:0.7em;
			line-height:40px;
		}
		.b3{
			float:right;
			font:26px "微软雅黑";
			color:red;
			font-weight:bold;
			margin-top:5px;
			line-height:40px;
			text-indent:0.6em;
		}
		.b4{
			float:left;
			font:15px "微软雅黑";
			color: #9c99b2;
			line-height:40px;
			text-indent:1.3em;
			/*margin-top:5px;*/
			text-decoration:none;
		}
		.b5{
			text-decoration:none;
			color:#9c99b2;

		}
		.b6{
			width:0px;
			height:15px;
			border:1px solid #777;
			position:relative; 
			left:5px;
			border-right:0px;
			background-color:#c3c3c0;

		}
		.b7{
			width:70px;
			height:20px;
			border:1px solid #777;
			position:relative;
			top:-2px;
			
		}

		.b8{
			width:20px;
			height:15px;
			border:1px solid #777;
			border-left:0px;
			position:relative; 
			right:5px;
			background-color:#c3c3c0;
		}
		.b9{
			float:left;
			margin-top:10px;
		}
		.b10{
			height:37px;
			width:145px;
			margin:0px 2px 2px 18px;
		}
		.b11{
			float:left;
			margin-top:10px;
			/*position:relative;*/
			/*left:18px;*/
			margin-left:18px;
		}
		.b12{
			
			width:280px;
			height:60px;
			/*border:1px blue solid;*/
			margin:0px 0px 0px 33px;
		}
		.b13{
			display:inline-block;
			width:60px;
			height:60px;
			/*border:1px red solid;*/
		}
		.b14{
			width:60px;
			height:60px;
		}
		.b14:hover{
			border:2px solid red;
			opacity:0.6;
		}
	/*第一部分内容结束*/
	/*第二部分开始*/
	.content2{
		width:980px;
		height:360px;
		/*border:1px blue solid;*/
		margin:20px 0px 10px 190px;
		background-color:white;
	}
	.s1{
		width: 925px;
		height:37px;
		border-bottom:1px solid #888;
		font:14px "微软雅黑";
		font-weight:bold;
		line-height:37px;
		margin-left:33px;
	}
	.s2{
		width: 980px;
		height:304px;
		/*border:1px solid black;*/
		/*margin-top:20px;*/
	}
	.s3{
		display:inline-block;
		width:440px;
		height:128px;
		border:1px solid #888;
		margin-left:33px;
		margin-top:20px;
		
	}
	.s4{
		display:inline-block;
		width:100px;
		height:100px;
		/*border:1px solid pink;*/
		margin-left:20px;
		margin-top:10px;
		margin-bottom:-3px; 
	}
	.s6{
		display:inline-block;
		width:100px;
		height:100px;
		/*border:1px solid pink;*/
		margin-left:20px;
		/*margin-top:5px;*/
		margin-bottom:3px;
		font:13px "微软雅黑";
		color:#888;
	}


/*第二部分结束*/
/*第三部分开始*/


.content3{
	width:980px;
	height:46px;
	/*border:1px solid blue;*/
	margin:20px 0px 0px 190px;
	background-color:white;

}
.a0{
	width:930px;
	height:42px;
	border-bottom:1px solid #888;
	margin-left:33px;
}
.a1{
	display:inline-block;
	width:72px;
	height:26px;
	border-bottom:5px #888 solid;
	margin:10px 0 0 0px;
	font:14px "微软雅黑";
	font-weight:bold;
	
}
.a2{
	display:inline-block;
	width:86px;
	height:26px;
	/*border:1px red solid;*/
	font:14px "微软雅黑";
	font-weight:bold;
}
.a3{
	text-align:center; 
}

/*第二段*/
.a4{
	width:980px;
	height:300px;
	/*border:1px solid blue;*/
	margin:0px 0px 0px 190px;
	background-color:white;

}
.a5{
	width:930px;
	height:287px;
	/*border:1px solid white;*/
	margin-left:33px;
	background-color: #f5f4f2;
	
}
.a6 p{
	width:850px;
	height:90px;
	/*border:1px solid;*/
	margin:0px 40px 30px 40px;
	font:18px "微软雅黑";
	color:#222;
	line-height:30px;
	padding-top:40px; 
}
.a7{
	width:850px;
	height:87px;
	border-top:1px solid #777;
	margin:0px 40px 40px 40px;
}
.a8{
	display:inline-block;
	width:400px;
	height:25px;
	/*border:1px solid red;*/
	font:14px "微软雅黑";
	font-weight:bold;
	line-height:40px;
}	

.a9{
	font:14px "微软雅黑"
}

/*第二段over*/
/*第三段strat*/

.a10{
	width:980px;
	height:22759px;
	background-color:white;
	margin:0px 0px 0px 190px;
}
.a11 .a12{
	width:750px;
	height:988px;
	margin-left:115px;
	margin-top:-3px; 
}
.a13{
	width:750px;
	height:713px;
	margin-left:115px;
}
.a14{
	width:750px;
	height:395px;
	margin-left:115px;
}
.a15{
	width:750px;
	height:814px;
	margin-left:115px;
}

 /*第二段结束*/
 /*第三段开始 */

 .f1{
 	width:980px;
 	height:1124px;
 	/*background-color:white;*/
	/*border:1px blue solid;*/
	margin-top:40px;
	margin-left:190px;
 }
.f2{
	float:left;
	width:486px;
 	height:316px;
 	/*border:1px blue solid;*/
 	background-color: white;	
}
.f3{
	float:right;
	width:486px;
 	height:1124px;
 	/*border:1px blue solid;	*/
}
.f4 {
	width:436px;
	height:46px;
	border-bottom:1.5px #777 solid;
	margin-left:25px;
	
}
.f5 {
	border-bottom:4px #777 solid;
	font:15px "微软雅黑";
	font-weight:bold;
	line-height:65px;
}
.f6 {
	font:15px "微软雅黑";
	font-weight:bold;
	line-height:63px;
}
.f7{
	width:437px;
	height:150px;
	/*border:1px red solid;*/
}
.f8{
	font:12px "微软雅黑";
	color:#666; 
	margin-top:10px;
}
.f9{
	margin-top: 25px;
}
.f10{
	width:486px;
	height:1124px;
	float:right;
	/*border:1px blue solid;*/
	background-color:white;
}
.f11{
	width:435px;
	height:45px;
	margin-left:25px;
	border-bottom:1px solid #777;
}
.f11 p{
	font:15px "微软雅黑";
	font-weight:bold;
	line-height:55px;
}
.f12{
	display:inline-block;
	width:200px;
	height:245px;
	/*border:1px red solid;*/
	margin:25px 0px -15px 25px;
}
.f12 p{
	font:13px "微软雅黑";
	color: #777;
}



/*结尾*/

	.tail{
			width:100%;
			height:412px;
			background-color:#d9d9d0;
			/*border:1px solid red;*/
			margin-top:50px;
		}
		.g1{
			width:800px;
			height:224px;
			margin:50px 330px 50px;
			/*border:1px solid black;*/


		}
		.g5{
			width:100%;
			height:111px;
			/*border:1px solid red;*/

		}
		.j1{
			width:1349px;
			height:35px;
			/*border:1px solid red;*/
			text-align:center;
			line-height:50px;
			font:13px "微软雅黑" ; 
		}
		.j2{
			margin-left:5px; 
		}

	/*底    部    开     始 */
		.l1{

			width:1349px;
			height:30px;
			/*border:1px solid green;*/
			margin-top:20px;

			background-color: #393835;
			
		}
		.l2{
			float: left;
			font:13px "微软雅黑";
			margin-left: 5px;
			line-height:30px;
		}
		.l3{
			float: right;
			margin-right:20px;
			line-height:30px;
		}
		.l4{
			font:13px "微软雅黑";

		}




		.tail{
			width:100%;
			height:412px;
			background-color:#d9d9d0;
			/*border:1px solid red;*/
			margin-top:50px;
		}
		.g1{
			width:800px;
			height:224px;
			margin:50px 330px 50px;
			/*border:1px solid black;*/


		}
		.g5{
			width:100%;
			height:111px;
			/*border:1px solid red;*/

		}
		.j1{
			width:1349px;
			height:35px;
			/*border:1px solid red;*/
			text-align:center;
			line-height:50px;
			font:13px "微软雅黑" ; 
		}
		.j2{
			margin-left:5px; 
		}

	/*底    部    开     始 */
		.l1{

			width:1349px;
			height:30px;
			/*border:1px solid green;*/
			margin-top:20px;

			background-color:#393835;
			
		}
		.l2{
			float: left;
			font:13px "微软雅黑";
			margin-left: 5px;
			line-height:30px;
		}
		.l3{
			float: right;
			margin-right:20px;
			line-height:30px;
		}
		.l4{
			font:13px "微软雅黑";

		}
