	*{margin: 0;
	  padding: 0;
	}
		/*测试*/
	.ceshi_wh{
		width: 50px;
		height: 50px;
	}
	.ceshi_border{
		border:1px solid #f00;
		background-color:red;
	}
	body{
		padding-top:150px;
		width:1349px;
		/*height:25780px;*/
	}

	.head1 .ul_01{
		display: block;
		background-color:blue;
	}

	/*漂浮*/
	.float_L{
		float:left;
	}
	.float_R{
		float:right;
	}

	
	    /*高度塌陷*/
	    .clearfix:after{
	    	content: "";
	    	display: block;
	    	clear:both;
	    }
	
		.head{
			width:1349px;
			height: 49px;
			/*border: 1px red solid;*/
			background-color: #535353;
			

		}
		.head1{
				width:496px;
				height: 49px;
				/*width: 300px;*/
				/*border: 1px red solid; */
				float: left;

		}
		.head2{
			  width: 853px;
			  height: 49px;
			  /*border: 1px red solid;*/
			  float: left;

		}
		.p1{
			/*border:1px red solid;*/
			float: left;
			list-style: none;
			line-height: 49px;
			text-decoration: none;
			width: 100px
			/*font-family: "微软雅黑";*/
		}

		.p2{

			float: left;
			list-style: none;
			/*margin-left: 20px;*/
			line-height: 49px;
			/*font-family: "微软雅黑";*/
		}

		.p3:hover{
			background-color:#474545;
			}
	
		.p3{
			display:block;
			text-decoration: none;
			color: white;
			font:13px "微软雅黑";
			font-weight: bold;
			line-height: 48px;
			text-align: center;
			/*border:1px solid red;*/
		}

		.ps{
			float: left;
			margin-left: 400px;
			width: 235px;
			height: 47px;
			outline:none;
			border:1px solid white;
		}

		.a_02{
			float: left;
			width: 63px;
			height: 47px;
		}

		.p5{line-height: 49px;
			margin-left: 15px;
			text-decoration: none;
		}
		.p6{margin-left: 20px;
			text-decoration: none;}
		.p7{
			float:left;
			height:49px; 
		}
		.t1{
			float:left;
			width:96px;
			height:49px;
			background-image:url(../image/sprite.png);
			}
		.t1:hover{
			background-position: -96px 0px;
		}
		
		.t2{height: 49px;
			float: right;

		}
		.head3{
			width:1349px;
			height:32px;
			/*border:1px red solid;*/
			background-color: #8f8c7f;


		}
		.p8{
			/*line-height: 32px;*/
			text-decoration: none;
			font:13px "微软雅黑";
			font-weight: bold;
			color: white;
			/*margin-left: 20px;*/

		}

		.p9{
			 line-height:32px;
			 float:left;
			 width:86px;
			 height:31px;
			 /*border:1px red solid;*/
			 text-align:center;
		}
		.p9:hover{
			background-color: #474545;
		}

		.dd{
			position:fixed;
			left:10px;
			top:310px;
			width:110px;
			height:178px;
			/*border:1px solid red;*/
		}
		.d1{
			width:110px;
			height:178px;
		}
		.ww{
			position:fixed;
			left:0px;
			top:0px;
		}